body{
  margin: 0;
  padding: 0;
}
main{
  margin-top: 75px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
}

.h1__form{
  margin: 0;
  padding: 0;
  font-size: 96px;
  font-weight: bold;
  color: #1C1C4A;
}
.href__form{
  font-size: 20px;
  font-weight: bold;
  color: #1C1C4A;
  opacity: 70%;
  a{
    opacity: 100%;
    color: #0057AD;
    text-decoration: none;
  }
}

.container_input{
  display: flex;
  flex-direction: column;

  input{
    border: none;
    border-radius: 20px;
    background-color: #76768D;
    font-size: 20px;
    color: white;
    height: 62px;
    width: 252.99px;
    padding-left: 20px;
    padding-top: 2px;
  }
  input:focus{
    outline: none;
  }
  label{
    width: 250px;
    position: relative;
    top: 20px;
    left: 20px;
    color: white;
  }
}

.name__form__container{
  grid-area: name;
  width: 260px;
}
.surename__form__container{
  grid-area: surename;
}
.mail__form__container{
  grid-area: mail;
  input{
    width: 606.47px;
  }

}
.password__form__container{
  grid-area: password;

  input{
    width: 606.47px;
  }
  .img__show{
    position: relative;
    left:575px;
    bottom: 47px;
    padding: 0;
    margin: 0;
  }
}
form{
  display:grid;
  grid-template-areas: "name surname"
  "mail mail"
"password password";
  grid-template-columns: 351px 300px;
}

.privacy__form{
  position: relative;
  bottom:25px;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 13px;
  white-space: nowrap;

  .privacy__href{
    color: #000000;
    font-size: 13px;
  }
}

.btn__form {
  position: relative;
  top:20px;
  right: 30px;
  font-size: 20px;
  color: white;
  border-radius: 20px;
  border: none;
  background-color: #1C1C4A;
  padding: 20px 26px;
  cursor: pointer;
}

.hero{
  margin-left: 150px;
  width: 877px;
  height: 736px;
}

.span__active{
  color: #BEBEBE;
  font-weight: bold;
  font-size: 11px;
  background-color: black;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  margin-top: 0;
  margin-left: 20px;
  width: 230px;
}
.span_last{
  position: relative;
  bottom: 35px;
}


