<form action="#">
    <div class="search__container">
        <input type="search" id="search__form" class="search__form" placeholder="Поиск">
        <button class="search__btn">
            <img src="src/image/Frame.png" alt="" class="glass">
        </button>
    </div>
    <ul class="filter__container">

           <li class="date__container all__container">
               <a href="#" class="btn__date all__btn">Дата</a>
           </li>
            <li class="organize__container all__container">
                <a href="#" class="btn__organize all__btn">Организатор</a>
                <div class="choose--container">
                    <ul class="choose__ul"  id="organizer__container">

                    </ul>
                </div>
            </li>
            <li class="view__container all__container">
                <button class="btn__view all__btn">Вид</button>
                <div class="choose--container" >
                    <div class="filer--container">

                    </div>
                </div>
            </li>

    </ul>
</form>
