<form action="#">
    <div class="search__container">
        <input type="search" id="search__form" class="search__form" placeholder="Поиск">
        <a href="#" class="search__btn">
            <img src="src/image/Frame.png" alt="" class="glass">
        </a>
    </div>
    <div class="filter__container">
       <div class="date__container all__container">
           <a href="#" class="btn__date all__btn">Дата</a>
       </div>
        <div class="organize__container all__container">
            <a href="#" class="btn__organize all__btn">Организатор</a>
        </div>
        <div class="view__container all__container">
            <a href="" class="btn__view all__btn">Вид</a>
        </div>
    </div>
</form>