<div class="header__logo">
    <a href="/">
        <img src="/src/image/new_logo.svg" alt = "Логотип Системного анализа и управления" class="header__img">
    </a>
    <span class="header__text">Системный анализ<br />и управление </span>
</div>
<div class="header__nav">
    <ul class="header__list">
        <li><a href="/relax" class="header__element">Relax</a></li>
        <li><a href="#" class="header__element">Расписание</a></li>
        <li><a href="#" class="header__element">SOS</a></li>
        <li><a href="#" class="header__element">Дисциплины</a></li>
        <li><a href="/login" class="header__element reg">Войти</a></li>
    </ul>
</div>