.card{
  background-color: #D9D9D9;
  width: 320px;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;

  &__href{
    display: block;
    width: 320px;
    height: 430px;
  }

  &__img{
    width: 200px;
    height: 259.11px;
  }

  &__name{
    font-size: 24px;
    color:#000000;
    font-weight: lighter;
    margin-top: 10px;
  }

  &__logo{
    width: 75px;
    height: 59.64px;
    margin-top: 10px;
  }

  &__wrapper{
    display: grid;
    gap: 62px;
    grid-template-columns: repeat(4, 320px);
    margin-top: 60px;
    align-items: center;
    justify-content: center;
  }
}