
@import "mainPage.css";
@import "header.css";
@import "reset.css";
@import "font.css";

<<<<<<< HEAD
body{
    width: 100%;
    background-color: #DADAF1;
}
=======
body {
    width: 100%;
    background-color: #DADAF1;
}

>>>>>>> origin/master
