<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/forms__scss/entranse.css">
    <link rel="stylesheet" href="/src/forms__scss/header__forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Системный анализ и управление</title>
</head>
<body>
    <header>
        <a href="index.html" class="logo__button">
            <img src="/src/image/new_logo.svg" alt = "Логотип Системного анализа и управления" class="logo__img">
        </a>
        <span class="logo__text">Системный анализ<br />и управления </span>
    </header>
    <main>
        <div class="block_1">
            <p class="h1__form">С возвращением!</p>
            <p class="href__form">У тебя ещё нет аккаунта? <a href="registration.html">Регистрация</a></p>
            <form action="#" method="post">
                <div class="container_input mail__form__container">
                    <label for="mail__form">Электронная почта</label>
                    <input type="email" required id="mail__form"  class="mail__form">
                </div>
                <div class="container_input password__form__container">
                    <label for = "password__form">Пароль</label>
                    <input type="password" required id="password__form"  class="password__form">
                    <a href="#" class="img__show">
                        <img src="/src/image/Capa_1.svg" alt="" class="show__password">
                    </a>
                </div>
            </form>
            <a href="#" class="data__recovery__form">
                Забыл почту или пароль?
            </a> <br>
            <a href="#" class="btn__form">Войти</a>
        </div>
        <div class="block_2">
            <img src="/src/image/SVGViewer.svg" alt="Человек показывающий возрастающий график" class="hero">
        </div>
    </main>
</body>
</html>