<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/src/scss/index_scss/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/src/scss/index_scss/page_1.css">
    <link rel="stylesheet" href="/src/scss/index_scss/page_2.css">
    <link rel="stylesheet" href="/src/scss/index_scss/footer.css ">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Системный анализ и управление</title>
</head>
<body>
    <header>
        <div class="header__logo logo">
            <a href="/" class="logo__button">
                <img src="/src/image/new_logo.svg" alt = "Логотип Системного анализа и управления" class="logo__img">
            </a>
            <span class="logo__text">Системный анализ<br />и управление </span>
        </div>
        <nav class="header__nav nav">
            <ul class="nav__list">
                <li><a href="/relax" class="nav__element">Relax</a></li>
                <li><a href="#" class="nav__element">Расписание</a></li>
                <li><a href="/sos" class="nav__element">SOS</a></li>
                <li><a href="/disciplines" class="nav__element">Дисциплины</a></li>
                <li><a href="/login" class="nav__element reg">Войти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="page_1">
            <div class="main__content_page_1">
                <div class="page_1__info">
                    <p class="page_1_maxInf"><span class="main__content_span">Мы</span> изучаем методы<br>
                        и инструменты для анализа<br>
                        сложных систем<br>
                        в различных областях.</p>
                    <p class="page_1_minInf">P.s изучаем IT-Технологии, коммуникации<br>
                        и бизнес-аналитику</p>
                </div>
                <div class="page_1__image">
                    <img src="/src/image/SVGViewer.svg" alt="Человек показывает как растёт график на доске" class="page_1__image">
                </div>
            </div>
            <div class="main__btn_page_1">
                <div class="page_1_circle_1"></div>
                <div class="page_1_circle_2">
                    <img src="/src/image/info.svg" alt="Знак означающий подробней">
                </div>
                <button type="button" class="page_1__btn">Узнать <br> больше</button>
                <div class="poppup">
                    <button type="button" class="poppup_btn"><span></span></button>
                    <div class="popup__content">
                        <p class="poppup__title">Кто мы?</p>
                        <p class="poppup--content">
                            Системные аналитики разрабатывают проекты
                            в сфере IT и применяют знания
                            и навыки для использования информационных технологий
                            в экономике. Они занимаются моделированием процессов
                            и явлений, программированием
                            и информатизацией, проектированием информационно-аналитических систем, включая распределенные базы данных, геоинформационные системы
                            и системы обработки больших данных.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_2">
            <div class="block_1">
                <div class="main__content_page_2">
                    <p class="page_2_maxInf">
                        Наша кафедра была создана <br>
                        в 2015 году в Крымском <br>
                        федеральном университете <br>
                        имени В. И. Вернадского.
                    </p>
                    <p class="page_2_minInf">
                        Практику студентов проводят в ведущих <br>
                        крымских компаниях под руководством <br>
                        опытных кураторов.
                    </p>
                    <div class="content_graduate_page_2">
                        <div class="txt">
                            <p class="graduate_work">
                                Здесь работают наши выпусники
                            </p>
                            <p class="graduate_inf">
                                80% выпусников кафедры нашли себя в крупнейших <br>
                                компаниях России <a href="#" class="graduate_success">[Посмотреть истории успеха]</a>
                            </p>
                        </div>
                       <div class="img">
                           <div class="img__wb all_img_page_2">
                               <img src="/src/image/wb%20(1).svg" alt="Логотип Wildberris" class="wb img__page_2">
                               <a href="#" class="img_a_page_2 wb_popup">Узнать больше</a>
                               <div class="popup__Page2__wb">
                                   <button type="button" class="poppup_btn_Page2__wb"><span></span></button>
                                   <img src="/src/image/i%2015.svg" alt="" class="poppup__1__wb">
                                   <div class="poppup__content__Page2__wb">
                                        <p class="wb__p__1"><div class="wb__poppup">
                                            Wildberries</div>  — это ведущий маркетплейс
                                            в <div class="wb__poppup_russia">России</div>, специализирующийся на продаже товаров различных категорий.
                                            В ассортименте представлены одежда
                                            и обувь, бытовая техника и электроника, товары для дома, косметика и многое другое.
                                        </p>
                                       <div class="wb__poppup__2">Wildberries</div>
                                        <p class="wb__p__2">
                                             занимает первое место среди российских маркетплейсов с ежемесячной аудиторией в 250 миллионов уникальных пользователей. За 2022 год оборот компании увеличился на рекордные 93%
                                            и достиг 844 миллиардов рублей.
                                        </p>
                                       
                                   </div>
                                   <img src="/src/image/i%2015.svg" alt="" class="poppup__2__wb">
                               </div>
                           </div>
                           <div class="img__ks all_img_page_2">
                               <img src="/src/image/kaspersky.svg" alt="Логотип Kaspersky" class="ks img__page_2">
                               <a href="#" class="img_a_page_2 ks_popup">Узнать больше</a>
                               <div class="popup__Page2__ks">
                                   <button type="button" class="poppup_btn_Page2__ks"><span></span></button>
                                   <img src="/src/image/i%2017.svg" alt="" class="poppup__1__ks">
                                   <div class="poppup__content__Page2__ks">
                                       <p class="ks__p__1">
                                           <div class="poppup__ks">Kasperky</div> — международная компания, разрабатывающая системы защиты
                                           от вирусов, спама, хакерских атак и других киберугроз. Работает в 200 странах, центральный офис находится
                                           в Москве.
                                       </p>
                                       <p class="ks__p__2">
                                           Входит в четверку ведущих мировых производителей решений Endpoint Protection.
                                           В России занимает 94% потребительского рынка.
                                       </p>
                                   </div>
                                   <img src="/src/image/i%2018.png" alt="" class="poppup__2__ks">
                               </div>
                           </div>
                           <div class="img__vtb all_img_page_2">
                               <img src="/src/image/vtbbank.svg" alt="Логотип VTB" class="vtb img__page_2">
                               <a href="#" class="img_a_page_2 vtb_popup">Узнать больше</a>
                               <div class="popup__Page2__vtb">
                                   <button type="button" class="poppup_btn_Page2__vtb"><span></span></button>
                                   <img src="/src/image/i%2019.png" alt="" class="poppup__1__vtb">
                                   <div class="poppup__content__Page2__vtb">
                                       <p class="vtb__p__1">
                                           Банк «<em class="vtb__poppup">ВТБ</em>»— российский универсальный коммерческий банк с государственным участием.
                                       </p>
                                       <p class="vtb__p__2">
                                           <em class="vtb__poppup">ВТБ</em> занимает второе место по величине активов и первое по размеру уставного капитала среди российских банков.
                                       </p>
                                       <p class="vtb__p__3">
                                           <em class="vtb__poppup">ВТБ</em> имеет дочерние и ассоциированные банки в различных странах, включая Белоруссию, Армению, Казахстан, Азербайджан, Грузию, Германию, Италию, Великобританию и Кипр.
                                       </p>
                                   </div>
                                   <img src="/src/image/i%2020.png" alt="" class="poppup__2__vtb">
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
            <div class="block_2">
                <div class="txt_2">
                    <p class="h3">
                        Практика
                    </p>
                    <p class="h5">
                        в лучших компаниях
                    </p>
                </div>
                <div class="practice">
                    <img src="/src/image/fiolent.svg" alt="Логотип завода Фиолент" class="practice_logo fiolent">
                    <img src="/src/image/ideasworld.svg" alt="Логотип Ideas World" class="practice_logo ideasWorld">
                    <img src="/src/image/apteka.svg" alt="Логотип аптики Эконом" class="practice_logo apteka">
                    <img src="/src/image/icinvwst.svg" alt="Логотип IC INVEST" class="practice_logo icInvest">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer__content">
            <div class="block_1_footer">
                <div class="footer__container__contacts">
                    <p class="h2">Контакты</p>
                    <div class="footer__content_contacts">
                        <img src="/src/image/geo.svg" alt="Метка на карте" class="img__footer point__img">
                        <p class="adress txt__footer">г. Симферополь, <br>
                            ул. проспект Академика Вернадского, 4</p>
                    </div>
                    <div class="footer__content_contacts">
                        <img src="/src/image/number.svg" alt="Значок телефона" class="img__footer tel__img">
                        <p class="tel txt__footer">+7 (978) 971-88-28</p>
                    </div>
                    <div class="footer__content_contacts">
                        <img src="/src/image/mail.svg" alt="Изображение письма" class="img__footer mail__img">
                        <p class="mail txt__footer">mail@cfuv.ru</p>
                    </div>
                </div>
                <div class="footer__content_information">
                    <p class="h2">Информация</p>
                    <a href="#" class="information_item">Контакты</a>
                    <a href="#" class="information_item">Авторское право</a>
                    <a href="#" class="information_item">Условия пользования</a>
                    <a href="#" class="information_item">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="block_2_footer">
                <div class="footer__content_hrefs">
                    <div class="href_cfu">
                        <img src="/src/image/cfu%20(1).svg" alt="Логотип КФУ" class="cfu">
                        <a href="#" class="href_cfu_mod">Официальный сайт</a>
                    </div>
                    <div class="social">
                        <a href="#" class="href_socialMedia">
                            <img src="/src/image/vk.svg" alt="Вконтаке" class="vk">
                        </a>
                        <a href="#" class="href_socialMedia">
                            <img src="/src/image/tg.svg" alt="Telegram" class="tg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="footer__copyright">
            © Физико-Технический Институт
        </p>
    </footer>

    <script src="/src/js/mainPage_js/mainPage.js"></script>
</body>
</html>